body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: $m-size;
    background: $dark-blue;
}


button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}